.btn{
   background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
   padding: 16px 37px;
   color: #343045;
   border: none;
   border-radius: 25px;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 12px;
   cursor: pointer;
}