.nav{
   display: flex;
   justify-content: space-between;
   gap: 15px;
   align-items: center;
   padding-top: 50px;
}

.logo{
   display: flex;
   align-items: center;
   gap: 10px;
}

.menu{
   display: flex;
   gap: 40px;

   a{
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-size: 12px;
   }

   @media (max-width:990px) {
      display: none;
   }
}

.burger{
   display: none;
   cursor: pointer;
   @media (max-width:990px) {
      display: block;
   }
}

.btns{
   display: flex;
   gap: 40px;

   @media (max-width:990px) {
      display: none;
   }
}

.btn{
   background-color: transparent;
   padding: 16px 37px;
   color: white;
   border: 1px solid white;
   border-radius: 25px;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 12px;
   border-radius: 25px;
   cursor: pointer;
}